<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Spree_Framework" parallel="methods" >
    <test thread-count="3" name="SpreeTest" >
        <classes>
           <class name="test.SpreeTest"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->